<div class="uiMenu">
	<div class="btnInventory">
		<div class="icon"></div>
	</div>
	<div class="btnEquipment">
		<div class="icon"></div>
	</div>
	<div class="btnSmithing">
		<div class="icon"></div>
	</div>
	<div class="btnPassives">
		<div class="icon"></div>
		<div class="points"></div>
	</div>
	<div class="btnReputation">
		<div class="icon"></div>
	</div>
	<div class="btnOnline">
		<div class="icon"></div>
	</div>
	<div class="btnLeaderboard">
		<div class="icon"></div>
	</div>
	<div class="btnHelp">
		<div class="icon"></div>
	</div>
	<div class="btnMainMenu">
		<div class="icon"></div>
	</div>
	<div class="btn btnCollapse">
		<div class="icon"></div>
	</div>
</div>
